/* This scss should put only demo website usage */

$primary-color: rgba(0,167,157,.4);
$gray:  #C7C7C7;

html, body{
    font-family: 'Noto Sans', Helvetica, 'sans-serif', 'Microsoft Jhenghei';
    height: 100%;
    color: $gray;
}
h3{
    margin-left: 15px;
    color: rgb(0, 167, 157);
}
hr{
    border: 3px solid $primary-color;
    margin: 0px;
}
.json_ui, .raw_json {
    width: 45%;
    float: left;
    height: 90%;
    border: 3px solid $primary-color;
    margin: 1%;
    overflow: auto;
}
.raw_json{
    float: right;
    .ace_editor { 
        position: relative;
        height: 89.5%; 
        font-size: 14px;
    }
}
.button-area{
    display: block;
    position: absolute;
    left: 48%;
    top: 251px;
    button {
        background-color: #00c4bc;
        color: #ffffff;
        cursor: pointer;
        display: inline-block;
        min-height: 1em;
        outline: none;
        border: none;
        border-radius: 0.2857rem;
        text-align: center;
        font-size: 1rem;
        box-shadow: 0px 0em 0px 0px rgba(39, 41, 43, 0.15) inset;
        display: block;
        width: 50px;
        margin: 10px 0px 0px 0px;
        transition: opacity 0.1s ease, background-color 0.1s ease, color 0.1s ease, box-shadow 0.1s ease, background 0.1s ease;

        &:hover {
            background-color: $primary-color;
            color: #ffffff;
            text-shadow: none;
        }
    }
    button.to-json-raw{
    }
    button.to-json-ui{
    }
}

