/*This scss should put only json-ui styles*/

$primary-color: rgba(0,167,157,.4);
$gray:  #C7C7C7;

.ui{
    padding: 20px;
    height: 82%;
    width: auto;
    form{
        padding: 10px;
        overflow: visible;
    }
    input[type="text"] {
        width: 60px;
    }
}
object{
     border-left: 2px dashed $gray;
     border-top: 2px solid $gray;
     border-bottom: 2px solid $gray;
     display: inline-table;
     height: auto;
}

object.root{
    display: block;
    padding: 5px;
}
object.child{
    padding: 5px;
}
key-value {
    display: block;
    padding: 2px;
}
array{
    display: inline-block;
    padding: 5px;
    border: 3px solid $gray;
}
