/*This scss should put only json-ui styles*/

$primary-color: rgba(0,167,157,.4);
$gray:  #DDD;

.json-ui{
    height: 82%;
    width: 1360px;
    form{
        padding: 10px;
        overflow: visible;
    }
    input[type="text"] {
        width: 75px;
        color: rgba(0,0,0,.8);

        margin: 0em;
        outline: none;
        -webkit-appearance: none;
        -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
        padding: 0.2em 0.2em;
        background: #ffffff;
        border: 1px solid rgba(39, 41, 43, 0.15);
        color: rgba(0, 0, 0, 0.8);
        border-radius: 0.2857rem;
        box-shadow: 0em 0em 0em 0em transparent inset;
        transition: background-color 0.2s ease, color 0.2s ease, box-shadow 0.2s ease, border-color 0.2s ease;

        &:focus {
            color: rgba(0, 0, 0, 0.85);
            border-color: rgba(39, 41, 43, 0.3);
            border-radius: 0em 0.2857rem 0.2857rem 0em;
            background: #ffffff;
            box-shadow: 1px 0em 0em 0em rgba(39, 41, 43, 0.3) inset;
        }
    }
    select {
        cursor: pointer;
        word-wrap: break-word;
        white-space: normal;
        outline: 0;
        transform: rotateZ(0deg);
        min-width: 150px;
        background: #ffffff;
        display: inline-block;
        padding: 0.8em 1.1em;
        color: rgba(0, 0, 0, 0.8);
        box-shadow: none;
        border: 1px solid rgba(39, 41, 43, 0.15);
        border-radius: 0.2857rem;
        transition: border-radius 0.1s ease, width 0.2s ease, box-shadow 0.2s ease, border 0.2s ease;
        &:focus {
            border-color: #66afe9;
            outline: 0;
            -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
            box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
        }
    }
    option {
        background-color: white;
    }
    object{
        -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12);
        -moz-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12);
        box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12);
        border-left: 2px solid $gray;
        border-top: 2px solid $gray;
        border-bottom: 2px solid $gray;
        display: inline-table;
        height: auto;
   }

    object.root{
        display: block;
        padding: 5px;
    }
    object.child{
        padding: 5px;
    }
    key-value {
        display: block;
        padding: 2px;
    }
    array{
        -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12);
        -moz-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12);
        box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12);
        display: inline-block;
        padding: 5px;
        border: 2px solid $gray;
    }
    button {
        background-color: #00c4bc;
        color: #ffffff;
        cursor: pointer;
        display: inline-block;
        min-height: 1em;
        outline: none;
        border: none;
        border-radius: 0.2857rem;
        text-align: center;
        font-size: 1rem;
        box-shadow: 0px 0em 0px 0px rgba(39, 41, 43, 0.15) inset;
        width: 25px;
        margin: 10px 2px 0px 0px;
        transition: opacity 0.1s ease, background-color 0.1s ease, color 0.1s ease, box-shadow 0.1s ease, background 0.1s ease;
        &:hover {
            background-color: $primary-color;
            color: #ffffff;
            text-shadow: none;
        }
 
    }
}
