<!DOCTYPE html>
<html ng-app="json.ui">
  <head>
    <title>Json-UI</title>
    <link rel="stylesheet" type="text/css" href="css/json_ui.css" />
  </head>
  <body ng-controller="jsonUIController as jsonUI">

    <div class="json_ui">
      <h3>json-ui</h3><hr/>
      <div class="ui">
        <form class="json-wrap">
          <object class="root" id="main">
          </object>
        </form>
      </div>
    </div>

    <div class="button-area">
      <button class="to-json-raw" ng-click="jsonUI.toRawJson()">-></button>
      <button class="to-json-ui" ng-click=""><-</button>
    </div>

    <div class="raw_json">
      <h3>raw-json</h3><hr/>
      <div id="editor"></div> 
    </div>

    <script src="bower_components/ace-builds/src-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript" src="../dist/bundle.js"></script>
  </body>
</html>
